@model IEnumerable<CategoryDetails>

@{
    ViewData["Title"] = "Index";
}
<p>
    <a href="javascript:;" class="btn btn-out-dashed btn-success btn-square" onclick="category.openModel()"><i class="ti-plus"></i>Thêm Mới</a>
</p>
<div class="card-block table-border-style">
    <div class="table-responsive">
        <table class="table table-hover" id="tbCategory">
            <thead style="background: black;color:white">
                <tr>
                    <th style="width:5%">
                        #
                    </th>
                    <th style="width:35%">
                        Danh Mục
                    </th>
                    <th style="width:10%">
                        Trạng thái
                    </th>
                    <th style="width:10%">
                        Bị Xóa
                    </th>
                    <th style="width:20%">
                        Thể Loại
                    </th>
                    <th style="width:20%"></th>
                </tr>
            </thead>
            <tbody>
                  
            </tbody>
        </table>
    </div>
</div>
<div class="modal fade" id="categoryModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create category</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="frmCategory">
                    <div class="form-group">
                        <label>Category</label>
                        <input type="text" name="CatDetailsName" class="form-control" data-rule-required="true" />
                        <input type="hidden" name="CatDetailsId" value="0" />
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" name="Status"> Status
                        </label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    <i class="fa fa-times"></i>
                    Close
                </button>
                <button type="button" class="btn btn-primary" onclick="category.save()">
                    <i class="fa fa-save"></i>
                    Save
                </button>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/js/categorydetails.js" asp-append-version="true"></script>
}


