@model IEnumerable<Category>

@{
    ViewData["Title"] = "Index";
}

<div class="card-block table-border-style">
    <div class="table-responsive">
        <table class="table table-hover" id="tbCategory">
            <thead style="background:black;color:white">
                <tr>
                    <th>
                        #
                    </th>
                    <th>
                        Sản Phẩm
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
<div class="modal fade" id="categoryModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create category</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="frmCategory">
                    <div class="form-group">
                        <label>Category</label>
                        <input type="text" name="CategoryName" class="form-control" data-rule-required="true" />
                        <input type="hidden" name="CategoryId" value="0" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    <i class="ti-close"></i> Đóng
                </button>
                <button type="button" class="btn btn-primary" onclick="category.save()">
                    <i class="ti-check"></i> Lưu
                </button>
            </div>
        </div>
    </div>
</div>
@section scripts {

    <script src="~/js/category.js" asp-append-version="true"></script>
}
